<!DOCTYPE html>
<html>
  <head>
    <title>NamaTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body style="background: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2))">
    <div class="container mt-5">
      <%= yield %>
    </div>
  </body>
</html>
